</div>


<section class="footer">
  <div class="container d-flex flex-column align-items-center justify-content-center py-4">
    <div class="icon mb-3 font-23">
      <i class="fa fa-facebook-square mx-2"></i>
      <i class="fa fa-github mx-2"></i>
    </div>
    <div class="text">
      &copy; 2020 | Created with <i class="fa fa-heart"></i> by <a class="text-danger" href="">Tomy Wibowo</a>
    </div>
  </div>
</section>

<div id="script">
  <script src="/plugins/bootstrap-4.2.1-dist/js/jquery.slim.min.js"></script>
  <script src="/plugins/bootstrap-4.2.1-dist/js/jquery.min.js"></script>
  <script src="/plugins/bootstrap-4.2.1-dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>
</div>
</body>
</html>
