<!DOCTYPE html>
<html>
  <head>
    <meta id="meta" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.css">
    <link rel="stylesheet" href="/plugins/bootstrap-4.2.1-dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Sofia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom" style="box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.18);">
      <div class="container-fluid px-4 py-2">
        <a class="navbar-brand font-weight-bold" href="#" style="font-family: 'Sofia', cursive;letter-spacing: 3px;">MyDesign</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto container" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto d-flex align-items-center">
            <a class="nav-link nav-link-navbar mx-3 active" aria-current="page" href="#">Home</a>
            <a class="nav-link nav-link-navbar mx-3" href="#">Features</a>
            <a class="nav-link nav-link-navbar mx-3" href="#">Pricing</a>
            <% if (auth) { %>
              <a class="nav-link nav-link-navbar dropdown-navbar">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= auth.nama %> 
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-navbar mt-lg-2 rounded-lg" aria-labelledby="navbarDropdown" style="box-shadow: 0px 0px 8px rgb(241, 77, 154, 0.4) !important;border: 1px solid rgb(241, 77, 154, 0.2);">
                  <a class="dropdown-item font-14 text-555" href="#"><i class="fas fa-user mr-2"></i> Profil</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item font-14 text-555" href="#"><i class="fas fa-running mr-2"></i> Logout</a>
                </div>
              </a>
            <% } else { %>
              <a class="nav-link nav-link-navbar">
                <a href="/user/login" class="btn btn-primary py-lg-2 px-lg-4  text-white mr-lg-2">
                    <i class="fas fa-user mr-1"></i> Masuk
                </a>
                <a href="/user/register" class="btn btn-danger mt-2 mt-lg-0 py-lg-2 px-lg-4 text-white new-button">
                    <i class="fas fa-sign-in-alt mr-1"></i> Daftar
                </a>
              </a>
            <% } %>
          </div>
        </div>
      </div>
    </nav>
 
    <div class="px-6" style="background: #fff">
