<%- include('./../partials/header.ejs') %>
<section class="profile-account-wrapper">
    <div class="container">
        <div class="profile-account">
            <div class="photo-profile-wrapper">
                <div>
                    <img class="rounded-full" src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                </div>
            </div>
            <div class="information-profile-wrapper">
                <div class="information-wrapper poppins text-333">
                    <h2 class="name">Nadifa Izla Pramuasti</h2>
                    <h3 class="username font-22 mt-2 text-primary"><a href="">@nadifa.izla</a></h3>
                    <div class="post-follow my-3">
                        <span class="ml-0"><b>21</b> posts</span>
                        <span><b>78</b> pengikut</span>
                        <span><b>90</b> mengikuti</span>
                    </div>
                    <div class="quote">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur fugit exercitationem reprehenderit, unde molestias ipsam a quam sit maxime repudiandae. Velit recusandae consequatur impedit hic non labore, facilis odio in.
                    </div>
                    <div class="btn btn-primary tulisan-upload-file-upload-design btn-sm mt-3" style="margin-left: 0 !important;">
                        <a class="text-white text-decoration-none" href=""><i class="fa fa-edit mr-1"></i> Edit Profil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="mt-4">
    <div class="container">
        <h2 class="text-666 posts-tulisan">#Posts</h2>
    </div>
    <div class="card p-0 py-lg-1 card-section-category mt-2 mt-lg-3">
        <section class="category px-lg-5 py-lg-1 mx-lg-5 d-flex justify-content-between align-items-center">
            <div class="btn-group mr-lg-5 pl-3 pl-lg-4 d-inline-block py-1">
                <button class=" btn dropdown-toggle px-lg-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Terbaru</button>
                <a class="ml-2 file-input btn btn-danger new-button rounded btn-file tulisan-upload-file-upload-design" href="/user/upload-design">
                    <i class="fa fa-upload"></i> Upload Design
                </a>
                <div class="dropdown-menu mt-lg-2">
                    <a class="dropdown-item text-muted active-dropdown-kategori" href="#">Terbaru</a>
                    <a class="dropdown-item text-muted" href="#">Populer</a>
                </div>
            </div>
        </section>
    </div>
</div>

<section id="content-wrapper-design" class="content my-4 px-4 px-lg-5">
    <div class="row row-content-wrapper-design">
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/wfh_1.svg');"></div>
                    </div>
                </div>

                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/wallpaperflare.com_wallpaper.jpg');"></div>
                        {{!-- <img id="imageLikedByUsers" class="images-uploaded-by-users" src="/images/wallpaperflare.com_wallpaper.jpg" alt=""      > --}}
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/vocaloid_series_websiteprofile_800px.jpg');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/PngItem_5135373.png');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/Daco_2400672.png');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/863080.png');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/714077.png');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/713297.png');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14p1;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/5abacc01d0dab1525f22df0b7d6f6982.png');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/wallpaperflare.com_wallpaper.jpg');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/vocaloid_series_websiteprofile_800px.jpg');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image">
                    <div class="px-5">
                        <div class="images-uploaded-by-users" style="background: url('/images/PngItem_5135373.png');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
              <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/714077.png');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/713297.png');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/5abacc01d0dab1525f22df0b7d6f6982.png');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 py-4 px-2">
            <div class="card-content-wrapper">
                <div class="image overflow-hidden">
                    <div>
                        <div class="images-uploaded-by-users" style="background: url('/images/wallpaperflare.com_wallpaper.jpg');"></div>
                    </div>
                </div>
                <div class="px-3 pt-2 rubik">
                    <a class="judul-gambar-uploaded-by-users-home text-decoration-none" style="color: #444" href="">ini judul gambar</a>
                    <hr class="mt-2 mb-1">
                </div>
                <div class="description-image px-3 py-2 d-flex align-items-center justify-content-between">
                    <div class="account d-flex align-items-center">
                        <a href="">

                        
                        <img src="/images/Anime-Girl-Icon-erikasakura0812-38624606-500-500.jpg" alt="">
                        </a>
                        <span class="quicksand"><a href="">Tomy Wibowo</a></span>
                    </div>
                    <div class="reaction d-flex" style="font-size: 14px;">
                        <div class="comment mx-1 text-primary">
                            <i class="fa fa-comment"></i> 20
                        </div>
                        <div class="like mx-1 text-danger">
                            <i class="fa fa-heart"></i> 29
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<form id="form-upload-design" action="" method=""></form>

<%- include('./../partials/footer.ejs') %> 